.layout{
    margin: 0 auto;
    width: 978px;
}
.content-table{
    border-collapse: collapse;
}
.content-table td{
    border: 1px solid #dadada;
    padding: 6px 7px;
    vertical-align: top;
    height: 150px;
    max-width: 239.66667px;
}
.padding-element{
    padding-bottom: 20px;
}
